/* 
COLORES
GRIS  #e9e8e4
VERDE OSCURO #313c1d
ROJO OSCURO #a0463e
VERDE CLARO #898e7d
ROJO CLARO #b59492
*/

@font-face {
    font-family:"Helvetica Bold" ;
    src: url(css/fonts/HelveticaNeueBold.otf) format('truetype');
}

@font-face {
    font-family:"Helvetica" ;
    src: url(css/fonts/HelveticaNeue.ttc) format('truetype');
}

@font-face {
    font-family:"Helvetica Medium" ;
    src: url(css/fonts/HelveticaNeueMedium.otf) format('truetype');
}

@font-face {
    font-family:"Helvetica Italic" ;
    src: url(css/fonts/HelveticaNeueItalic.ttf) format('truetype'); 
}

@font-face {
    font-family:"Analogia" ;
    src: url(css/fonts/analogia-italic.otf) format('truetype');
}

header,body {
    background-color: #e9e8e4;
}

header {
    position: sticky;
}

h1 {
    font-family: "Helvetica";
}

span.nolimits {
    font-family: "Analogia";
    color: #a0463e;
    font-size: 3rem;
}

.container-fluid {
    justify-content: space-between;
}
.menu_seccion_proyectos {
    font-family: "Analogia";
    font-size: 1.2rem;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav a {
    color: #e9e8e4;
}

.seccion_intro {
    background-color: #e9e8e4;
}

.section-1 {
    background-color: black;
    color: #e9e8e4;
}

.section-2 {
    background-color: #a0463e;
    color: #e9e8e4;
}
/* ncisaobc */