/* 
COLORES
GRIS  #e9e8e4
VERDE OSCURO #313c1d
ROJO OSCURO #a0463e
VERDE CLARO #898e7d
ROJO CLARO #b59492
*/

@font-face {
    font-family:"Helvetica Bold" ;
    src: url(css/fonts/HelveticaNeueBold.otf) format('truetype');
}

@font-face {
    font-family:"Helvetica" ;
    src: url(css/fonts/HelveticaNeue.ttc) format('truetype');
}

@font-face {
    font-family:"Helvetica Medium" ;
    src: url(css/fonts/HelveticaNeueMedium.otf) format('truetype');
}

@font-face {
    font-family:"Helvetica Italic" ;
    src: url(css/fonts/HelveticaNeueItalic.ttf) format('truetype'); 
}

@font-face {
    font-family:"Analogia" ;
    src: url(css/fonts/analogia-italic.otf) format('truetype');
}

header,body {
    background-color: #e9e8e4;
}



h1 {
    font-family: "Helvetica";
}



.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

/* MENU */

.container-fluid {
    justify-content: space-between;
    width: 100vh;
}

.menu_secciones {
    display: flex;
    flex-direction: row;
}


.menu_seccion_proyectos {
    font-family: "Analogia";
    font-size: 1.2rem;
}

.navbar {
    position: fixed;
    z-index: 1111;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav a {
    color: #e9e8e4;
}

.navMenu{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px rgba(209, 213, 219, 0.3);
    border-radius: 40px;
}

.lista{
    transition: all 0.5s ease-in;
}

.lista:hover{
    border-bottom: 1px solid #e9e8e4; 
}

.enlace:hover{
    color: #e9e8e4;
}






/* SECCION INTRODUCCION */

#principio_pag {
    z-index: 0;
}

#heading {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(357deg, #d1ccbb, #aabe85, #e2877f, #b6d175, #b59492);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}
@-webkit-keyframes AnimationName {
    0% {
        background-position: 49% 0%
    }

    50% {
        background-position: 52% 100%
    }

    100% {
        background-position: 49% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 49% 0%
    }

    50% {
        background-position: 52% 100%
    }

    100% {
        background-position: 49% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 49% 0%
    }

    50% {
        background-position: 52% 100%
    }

    100% {
        background-position: 49% 0%
    }
}

#heading h3 {
    font-family: "Helvetica Medium";
    font-size: 2.5em;
    margin-left: 1em;
    color: #313c1d;
}

.text-slider-items {
    display: none;
    color: #a0463e;
}



/* ABOUT US */


#aboutus {
    z-index: 1;
}

.section-1 {
    background-color: black;
    color: #e9e8e4;
}

.section-2 {
    background-color: #a0463e;
    color: #e9e8e4;
}

.section-4 {
    background-color: #a8a69b;
}

span.difference {
    font-family: "Analogia";
}

.section-3 {
    background-color: #313c1d;
    color: #e9e8e4;
}
.section-3 h2, h3 {
    font-family: "Helvetica";
}
.section-3 p {
    font-family: "Analogia";
    font-size: 2rem;
}








/* PROYECTOS */

span.realstuff {
    font-weight: bold;
    font-style: italic
}

.latest_proyects h1{
    font-weight: bold;
    font-style: italic;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.space-holder {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

.cards {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.card-body {
    display: flex;
    align-items: flex-end;
}

.sample-card {
    position: relative;
    height: 300px;
    width: 500px;
    background-color: #b59492;
    margin-right: 75px;
    flex-shrink: 0;
}

.sample-card h5 {
    color: black;
    font-family: 'Analogia';
    font-size: 1.5em;
}







/* CONTACTO */
#contactus {
    background-color: #a0463e;
    color: white;
    height: 35vh;
}

.container-contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contactus h1 {
    font-family: 'Helvetica Medium';
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
}

.container-contactus h2 {
    font-family: 'Analogia';
}

.container-contactus button {
    font-family: 'Helvetica Medium';
    font-weight: bold;
    font-style: italic;
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    background: #e9e8e4;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #898e7d;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-15px);
    color: #a0463e;
}

footer .menu li a {
    font-size: 1.2em;
    color: #898e7d;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
    color: #a0463e;
}

p {
    color: #898e7d;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

